# Implementation of the first model: time-weighted feedback model

Let's suppose we have a Matrix C such that each value r_ij is the rating of item j by user i (i.e. if user i clicked / viewed / bought the item j)

Let's suppose we have a Matrix T such that each value t_ij is the time of item j by user i (i.e. the last time that user i did the action r_ij on the item j)

n: number of closest items to a specific item to compute

K: number of clusters

l: number of items to recommend

### Ratings: 

r_ij = 0 iff user i never bought nor viewed nor clicked the item j

r_ij = 1 iff user i clicked the item j

r_ij = 2 iff user i viewed the item j

r_ij = 3 iff user i bought the item j

In [1]:
import numpy as np
import pandas as pd

## Variables

In [2]:
df_ratings = pd.DataFrame(data = {'item0': [0, 2, 1],  'item1': [0, 3, 1], 'item2': [1, 0, 2],  'item3': [2, 3, 0]}, index=['user0', 'user1', 'user2'])
df_ratings

       item0  item1  item2  item3
user0      0      0      1      2
user1      2      3      0      3
user2      1      1      2      0

In [3]:
df_time = pd.DataFrame(data = {'item0': [658, 2350, 15232],  'item1': [735, 3606, 14787], 'item2': [500, 4000, 15986],  'item3': [800, 2006, 14642]}, index=['user0', 'user1', 'user2'])
df_time

       item0  item1  item2  item3
user0    658    735    500    800
user1   2350   3606   4000   2006
user2  15232  14787  15986  14642

In [4]:
C = df_ratings.values
T = df_time.values
n = 2
K = 2
l = 2

In [5]:
C.dtype

dtype('int64')

## Extraction of variables

In [6]:
C = np.load('rating_matrix.npy')
T = np.load('time_matrix.npy')
n = 2
K = 2
l = 2

In [7]:
item_id = pd.read_csv('item_index.csv', header=None)

In [8]:
item_id

          0     1
0     40156     0
1     15632     1
2     36956     2
3     34157     3
4      4953     4
...     ...   ...
2995   2253  2995
2996   2406  2996
2997   2463  2997
2998   2556  2998
2999   2666  2999

[3000 rows x 2 columns]

In [9]:
int(item_id[item_id[1] == 4][0])

4953

In [10]:
list(item_id[0])

[40156,
 15632,
 36956,
 34157,
 4953,
 14614,
 32394,
 32769,
 31013,
 14889,
 9186,
 14179,
 4099,
 14784,
 6576,
 43548,
 49272,
 1049,
 7017,
 6445,
 1364,
 2843,
 6909,
 375755,
 6249,
 10858,
 75457,
 332,
 8758,
 11986,
 13831,
 30340,
 32757,
 67334,
 35015,
 36462,
 375069,
 4453,
 6327,
 7101,
 60992,
 9654,
 10274,
 4954,
 8047,
 11542,
 60638,
 131151,
 5285,
 10573,
 14515,
 25769,
 35889,
 67792,
 103581,
 12970,
 30711,
 34952,
 36121,
 36351,
 82984,
 128733,
 129045,
 7771,
 15394,
 30440,
 32138,
 64884,
 3511,
 7258,
 33073,
 35383,
 81684,
 2905,
 6828,
 14520,
 35311,
 36083,
 36780,
 73719,
 76663,
 88855,
 89764,
 381164,
 594,
 768,
 918,
 7107,
 8960,
 14096,
 53294,
 68131,
 79141,
 2866,
 3113,
 7096,
 7492,
 22046,
 34797,
 34972,
 35378,
 35734,
 49920,
 69276,
 70368,
 181750,
 1255,
 1702,
 2322,
 2453,
 5275,
 5400,
 7268,
 7589,
 9582,
 30720,
 35106,
 36992,
 74782,
 90068,
 90884,
 124306,
 126492,
 45,
 488,
 1189,
 1253,
 2633,
 4523,
 6961,
 9460,
 14620,
 32826,
 34804,
 36334,
 40986,
 90565,
 204060,
 2115,
 2377,
 3093,
 3439,
 6240,
 6582,
 7985,
 10147,
 16652,
 30792,
 34990,
 35261,
 36885,
 57539,
 64100,
 89725,
 6428,
 7005,
 8000,
 8848,
 9752,
 10352,
 11250,
 11700,
 11816,
 274954,
 13327,
 17415,
 23370,
 30059,
 31160,
 32135,
 32756,
 57107,
 62086,
 70797,
 81988,
 387,
 777,
 2399,
 3138,
 5288,
 11000,
 12726,
 20486,
 24935,
 33567,
 35369,
 36101,
 41874,
 46935,
 58565,
 83866,
 84405,
 87320,
 377089,
 126325,
 128785,
 142338,
 204989,
 764,
 2815,
 2820,
 3655,
 4562,
 4885,
 5582,
 6297,
 6440,
 6850,
 7481,
 8104,
 9249,
 10354,
 10617,
 13283,
 25149,
 25645,
 30165,
 31395,
 31629,
 34401,
 43546,
 45852,
 47586,
 74925,
 76264,
 83484,
 379857,
 133052,
 169560,
 465,
 2756,
 2863,
 2920,
 3148,
 4320,
 6870,
 6913,
 7956,
 9476,
 13360,
 14447,
 14526,
 23016,
 23284,
 30739,
 41750,
 49585,
 58385,
 68530,
 68986,
 80317,
 90273,
 90622,
 376727,
 128634,
 188217,
 60,
 913,
 1356,
 3489,
 4950,
 7010,
 8159,
 9617,
 10607,
 12962,
 13293,
 13629,
 14536,
 14860,
 14912,
 34382,
 35980,
 40464,
 46871,
 48576,
 58166,
 58736,
 66004,
 68398,
 80451,
 376973,
 388617,
 801,
 5031,
 6848,
 7015,
 8028,
 9642,
 10746,
 10805,
 11057,
 11354,
 13960,
 22894,
 27312,
 28821,
 30580,
 30895,
 31313,
 31570,
 31574,
 32327,
 32665,
 33159,
 34968,
 35772,
 35888,
 36548,
 36642,
 36688,
 36881,
 36884,
 47357,
 47818,
 57583,
 58958,
 67416,
 68533,
 69350,
 69390,
 79178,
 79956,
 85469,
 86715,
 90035,
 98665,
 375219,
 376414,
 380074,
 381687,
 124630,
 125290,
 126514,
 392208,
 130138,
 161039,
 923,
 1805,
 3011,
 3666,
 3719,
 5583,
 5659,
 7249,
 7783,
 8158,
 8383,
 8742,
 10787,
 11385,
 12208,
 12862,
 13804,
 23945,
 24058,
 25348,
 27268,
 32005,
 33969,
 34038,
 34154,
 34472,
 35473,
 39353,
 53307,
 60663,
 68981,
 68984,
 79218,
 80334,
 90774,
 374791,
 376301,
 383035,
 122788,
 204767,
 208817,
 882,
 1285,
 1839,
 1907,
 1981,
 2279,
 2919,
 3122,
 3395,
 3541,
 5301,
 7020,
 7095,
 8342,
 10295,
 11338,
 11945,
 12948,
 13064,
 14622,
 14850,
 18723,
 20675,
 26219,
 30761,
 30975,
 31092,
 31710,
 32338,
 33459,
 33890,
 34915,
 36255,
 36602,
 36643,
 38268,
 45487,
 45949,
 46007,
 57283,
 58131,
 58579,
 59203,
 60913,
 67313,
 78666,
 80645,
 84268,
 88729,
 90568,
 125065,
 128781,
 131257,
 162348,
 171541,
 175658,
 260206,
 1260,
 1705,
 2921,
 3024,
 5132,
 5417,
 6566,
 8329,
 8597,
 8826,
 9539,
 9699,
 9971,
 10177,
 10450,
 10467,
 10691,
 10747,
 10951,
 11815,
 12792,
 12841,
 13520,
 13851,
 14248,
 14408,
 14517,
 14596,
 15397,
 15555,
 16553,
 17885,
 18174,
 19149,
 20313,
 22135,
 30181,
 30981,
 31322,
 31511,
 31981,
 32209,
 34491,
 35150,
 36364,
 36685,
 37082,
 37787,
 44119,
 46931,
 49804,
 51974,
 55952,
 59345,
 59851,
 62904,
 64246,
 64359,
 65921,
 69421,
 71394,
 77232,
 80043,
 82729,
 88379,
 89941,
 95219,
 95808,
 105842,
 128197,
 130771,
 131160,
 134226,
 136400,
 403671,
 173672,
 192930,
 504,
 647,
 907,
 2148,
 2670,
 3617,
 5413,
 5516,
 5766,
 5787,
 6544,
 7821,
 8078,
 8320,
 8886,
 9879,
 9989,
 10133,
 10162,
 10196,
 10565,
 12262,
 12315,
 12316,
 12352,
 12445,
 13695,
 13931,
 14127,
 14311,
 14529,
 14896,
 18790,
 19909,
 24566,
 25270,
 28195,
 30084,
 30122,
 30248,
 30539,
 31083,
 32758,
 34641,
 35409,
 35418,
 36425,
 46895,
 47017,
 48439,
 49115,
 51304,
 53598,
 54168,
 57674,
 57961,
 63532,
 68966,
 68979,
 69013,
 70487,
 71376,
 74837,
 77299,
 80428,
 83849,
 90621,
 90732,
 375888,
 375966,
 377403,
 129850,
 160851,
 178919,
 197670,
 203487,
 206093,
 110,
 1087,
 1788,
 2006,
 2176,
 2645,
 2723,
 2877,
 3131,
 4076,
 4168,
 5033,
 5140,
 5780,
 5951,
 7442,
 7726,
 8328,
 9291,
 9992,
 10276,
 11123,
 11183,
 11377,
 12034,
 13693,
 13791,
 14027,
 14072,
 14098,
 14383,
 14448,
 14652,
 14895,
 16002,
 19636,
 21890,
 21958,
 22702,
 23180,
 24167,
 25043,
 25273,
 25432,
 28593,
 29545,
 30329,
 31400,
 32216,
 32268,
 33050,
 33111,
 33228,
 33313,
 33525,
 34142,
 34698,
 35235,
 35408,
 36340,
 36608,
 37156,
 40126,
 41935,
 42482,
 43530,
 44064,
 45925,
 47765,
 47926,
 49790,
 51221,
 55074,
 58638,
 59000,
 68072,
 68996,
 69042,
 69239,
 69867,
 70989,
 79130,
 80461,
 81081,
 82091,
 83920,
 90483,
 90743,
 102323,
 113634,
 376952,
 121986,
 124958,
 125140,
 125851,
 128966,
 132840,
 136025,
 136227,
 140129,
 415713,
 176017,
 181658,
 194221,
 203488,
 204820,
 211659,
 374,
 704,
 894,
 1596,
 1979,
 2103,
 2160,
 2229,
 2521,
 2581,
 2650,
 2750,
 3115,
 3299,
 3687,
 4053,
 4540,
 5348,
 5414,
 5513,
 5521,
 5819,
 6469,
 6665,
 6779,
 6875,
 7075,
 7360,
 7457,
 7685,
 8008,
 8022,
 8327,
 8404,
 9154,
 9313,
 9338,
 9437,
 9515,
 9571,
 9616,
 10091,
 10301,
 11135,
 11519,
 11693,
 12072,
 12221,
 12449,
 13029,
 13296,
 13362,
 13630,
 13696,
 13972,
 14869,
 15998,
 16148,
 17828,
 19872,
 19906,
 19944,
 20925,
 21133,
 23724,
 24546,
 24674,
 24755,
 25189,
 25211,
 25257,
 25287,
 27174,
 27198,
 29685,
 30254,
 30370,
 30507,
 30572,
 30591,
 30817,
 30894,
 30996,
 31484,
 31793,
 32090,
 32255,
 32408,
 32773,
 32870,
 33177,
 33404,
 33644,
 34053,
 34190,
 34260,
 34310,
 35051,
 35380,
 35381,
 35404,
 35967,
 36195,
 36322,
 36333,
 36522,
 36732,
 37451,
 37940,
 38817,
 39068,
 39360,
 45493,
 46840,
 47792,
 47917,
 49562,
 53484,
 54803,
 58581,
 59312,
 61431,
 64821,
 65027,
 65360,
 67311,
 69179,
 71236,
 71299,
 72190,
 74109,
 74887,
 80133,
 81439,
 83190,
 85517,
 85849,
 85888,
 86216,
 89283,
 89286,
 99648,
 102819,
 103161,
 376542,
 378421,
 126435,
 128087,
 128778,
 128833,
 130883,
 132173,
 136360,
 137028,
 160109,
 175626,
 175655,
 255379,
 49,
 170,
 474,
 607,
 2389,
 2395,
 3043,
 3205,
 4535,
 5186,
 5293,
 5446,
 5595,
 5949,
 6422,
 6572,
 6681,
 6731,
 6837,
 6935,
 7016,
 7250,
 7276,
 7730,
 8867,
 9053,
 9308,
 9758,
 9794,
 10182,
 10992,
 11180,
 11616,
 11908,
 12336,
 13077,
 13557,
 13749,
 13841,
 14000,
 14210,
 14289,
 14530,
 14890,
 16470,
 19155,
 281512,
 19556,
 19823,
 19850,
 24773,
 25487,
 28794,
 29847,
 30444,
 30627,
 31027,
 31053,
 31273,
 31375,
 31460,
 31923,
 32464,
 32718,
 33157,
 33416,
 34216,
 34911,
 35267,
 35297,
 35714,
 36461,
 36473,
 36734,
 36796,
 37311,
 38460,
 39320,
 40210,
 40546,
 45326,
 47289,
 47625,
 47902,
 49766,
 50472,
 51459,
 57526,
 58026,
 58181,
 60636,
 60709,
 63768,
 68663,
 68980,
 69036,
 69445,
 69587,
 74821,
 75342,
 75955,
 82842,
 84723,
 86259,
 86512,
 87342,
 89704,
 90534,
 90757,
 92929,
 117285,
 380081,
 126696,
 128604,
 129108,
 133406,
 136261,
 144281,
 163227,
 163639,
 166206,
 169687,
 169781,
 169782,
 169828,
 175652,
 176612,
 177869,
 179616,
 198997,
 206051,
 207857,
 116,
 444,
 1211,
 1803,
 2172,
 2373,
 2449,
 2548,
 2780,
 2873,
 3246,
 3337,
 3731,
 4442,
 ...]

## Functions

### Compute item similarity

In [11]:
from scipy import spatial, stats

In [25]:
def cosine_sim(item1, item2, j):
    '''
    Compute cosine similarity between item1 and item2
    '''
    return 1 - spatial.distance.cosine(item1, item2), int(item_id[item_id[1] == j][0])

In [13]:
def pearson(item1, item2):
    '''
    Compute pearson correlation coefficient between item1 and item2
    '''
    sim, _ = stats.pearsonr(item1, item2)
    return sim

In [14]:
def prob(item1, item2):
    '''
    Compute conditional probability-based similarity between item1 and item2
    Probability of purchasing item2 given that item1 has been purchased
    '''
    freq1_2 = len([i for i, j in zip(item1, item2) if i == 3 and j == 3])
    freq1 = list(item1).count(3)
    if freq1 == 0:
        return 0
    return freq1_2 / freq1

In [34]:
def compute_item_similarity(C,n,app='cos'):
    '''
    Compute n closest items for each item in C
    '''
    closest = {}
    for i, item1 in enumerate(C.T):
        sim, sim_id = [], []
        if app=='pearson':
            sim = [pearson(item1,item2) if i!=j else -1 for j, item2 in enumerate(C.T)]
        elif app=='prob':
            sim = [prob(item1,item2) if i!=j else -1 for j, item2 in enumerate(C.T)]
        else:
            sim = [cosine_sim(item1,item2,j) if i!=j else (-1,j) for j, item2 in enumerate(C.T)]
        closest[int(item_id[item_id[1] == i][0])] = [t2 for t1, t2 in sorted(sim, key=lambda x: x[0])[:n]]
        #closest[df_ratings.columns[i]] = [x for _, x in sorted(zip(sim, range(len(df_ratings.columns))), reverse=True)][:n]
    return closest

In [36]:
M = compute_item_similarity(C,n,'cos')
M

KeyboardInterrupt:

In [ ]:
#compute_item_similarity(C,n,'pearson')

In [17]:
#compute_item_similarity(C,n,'prob')

### Learning parameters

In [17]:
import math

In [18]:
def f(t, l):
    try:
        return math.exp(-l*t)
    except:
        return -1

In [19]:
def pred_time(user, item1, i, j, t):
    '''
    Predict opinion of user i on item j
    '''
    s1, s2 = 0, 0
    for c in M['item'+ str(j)]:
        p = C[i][c] # pred(user, item2, i, c, t)
        q = cosine_sim(item1, C.T[c])*f(T[i][c], 1/t)
        s1 += p*q
        s2 += q
    return s1 / s2

In [20]:
def pred(user, item1, i, j):
    '''
    Predict opinion of user i on item j
    '''
    s1, s2 = 0, 0
    for c in M['item'+ str(j)]:
        p = C[i][c] # pred(user, item2, i, c, t)
        q = cosine_sim(item1, C.T[c])
        s1 += p*q
        s2 += q
    return s1 / s2

In [23]:
M[0]

KeyError: 0

In [39]:
def find_T02(user, i):
    s, m, t_0 = 0, 0, 100
    for j, item in enumerate(C.T):
        pred_ij = pred(user, item, i, j, t_0)
        q_ij = C[i][j]
        s += abs(pred_ij - q_ij) / len(C.T)
    return t_0

In [40]:
def find_T0(user, i):
    s, m, t_0 = 0, 564124554, 1
    for t in range(-1000, 1000):
        if t == 0:
            continue
        s = 0
        for j, item in enumerate(C.T):
            pred_ij = pred(user, item, i, j, t)
            q_ij = C[i][j]
            s += abs(pred_ij - q_ij) / len(C.T)
        if s < m:
            m = s
            t_0 = t
    return t_0

In [41]:
def learning_parameters(C,M,T,n,K,l):
    '''
    Search T0 for each user such that the error is minimum
    '''
    parameters = {}
    for i, user in enumerate(C):
        print(i)
        parameters[df_ratings.index[i]] = find_T0(user, i)
    return parameters

In [33]:
learning_parameters(C,M,T,n,K,l)

0
1

/tmp/ipykernel_33199/2167108795.py:11: RuntimeWarning: invalid value encountered in double_scalars
  return s1 / s2

2

{'user0': 1, 'user1': -3, 'user2': -22}

In [44]:
def n_max(l, n):
    maximums = []
    for i in range(n):
        m = max(l)
        maximums.append(m)
        l.remove(m)
    return maximums

In [52]:
def predict_items(C, n, l):
    M = compute_item_similarity(C,n,'cos')
    predictions = {}
    for i, user in enumerate(C):
        pred_i = []
        for j, item in enumerate(C.T):
            pred_i.append(pred(user, item, i, j))
        predictions[df_ratings.index[i]] = [x for _, x in sorted(zip(pred_i, range(len(df_ratings.columns))), reverse=True)][:n]
    return predictions

In [53]:
predict_items(C, n, l)

{'user0': [1, 0], 'user1': [0, 3], 'user2': [3, 2]}