In [75]:
import pandas as pd
from datetime import datetime
view = pd.read_csv('../data/train-item-views.csv', sep=';')
purchase = pd.read_csv('../data/train-purchases.csv', sep=';')
#dates YYYY-MM-DD

In [78]:
def time_and_rating(df, rating):
    df = df.loc[:, ["itemId", "eventdate", "userId"]]
    df = df[df["userId"] >= 1] #filter Nan
    df.loc[:,"eventdate"] = df["eventdate"].apply(lambda date : datetime.fromisoformat(date))
    df = df.sort_values(by="eventdate", ascending=False)
    most_recent = list(df["eventdate"])[0]
    df.loc[:, "eventdate"] = df["eventdate"].apply(lambda date : most_recent - date)
    df["rating"] = rating
    return df

In [79]:
purchases= time_and_rating(purchase, 3)
purchases.head()

       itemId eventdate   userId  rating
576      4022    0 days   9871.0       3
12980   73093    2 days  17954.0       3
8324   173370    7 days  56642.0       3
8322    16191    7 days  56642.0       3
4741    90908    8 days  55132.0       3

In [81]:
views= time_and_rating(view, 1)
views.head()

        itemId eventdate   userId  rating
664815   78211    0 days  91816.0       1
106862  198046    0 days  18515.0       1
106512   50909    0 days  18510.0       1
106513   33181    0 days  18510.0       1
106514  178555    0 days  18510.0       1